<h1>TEAM</h1>
<div class="team">
    <h3>Team <%= @teams.name %></h3><br>
    <h3>Team Motto: <%= @teams.motto %></h3><br>
</div><br>

<h2>HERO 1</h2>
    <% @members.each do |hero| %>
        <p>Hero Name: <%= hero.name %></p><br>
        <p>Hero Power: <%= hero.power %></p><br>
        <p>Hero Biography: <%= hero.bio %></p><br>
    <% end %>
    
